.preset-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  margin-top: 90px;
}

.preset-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.preset-card {
  width: 250px;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 40px;
  border: 2px solid rgba(225, 255, 255, 0.4);
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.preset-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.preset-info-ad {
  padding: 10px;
}

.preset-info-ad h3 {
  margin-top: 0;
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preset-info-ad p {
  margin-bottom: 5px;
  font-size: 0.9em;
  display: block; 
}

.preset-info-ad p:last-child {
  margin-bottom: 20px;
}

.preset-info-ad p span {
  display: block;
  font-size: 13px;
}

.sound-list-container{
  overflow-y: auto; 
  height: 200px;
}

.sound-list {
  display: block; 
  margin-bottom: 10px;
}

.sound-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px; 
}


.sound-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f44336; 
  color: white;
}

.sound-item input[type="checkbox"] {
  margin-right: 5px;
}

.sound-item input[type="number"] {
  width: 60px; 
}

.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
  
}

.choose-song{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ccc' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}