.introduce3 {
  color: white;
  width: 650px;
  animation: slideIn 2s forwards;
  background: transparent;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(225, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 10px;
  top: 50px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.introduce3 p {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}

.introduce3 div {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}

.btn-start3 {
  background-color: white;
  color: #1d2021;
  padding: 15px 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  font-weight: 700;
}

.btn-start3:hover {
  color: #fff;
  background-color: rgb(249, 191, 46);
}

.change-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.change-content {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 40px;
  border: 2px solid rgba(225, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}

.change-content input[type="text"],
.change-content input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  backdrop-filter: blur(10px);
}

.change-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-content form label {
  margin-right: 10px;
  font-weight: bold;
  text-align: left;
}

.change-content form > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.change-content form label {
  margin-right: 10px;
  font-weight: bold;
}

.change-content form button {
  background-color: #1d2021;
  color: #fff;
  padding: 15px 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  font-weight: 700;
  margin-top: 10px;
}

.change-content form button:hover {
  background-color: #3e8e41;
}

.close-change {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  color: #1d2021;
}

.close-change:hover {
  color: red;
}

.change-modal .change-content h2 {
  color: black;
}