.backgrounds-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
  padding-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}

.background-item {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.background-name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
}

.background-image:hover {
  transform: scale(1.05);
}


.background-vip {
  position: relative;
  cursor: pointer;
  border: 2px solid gold;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  height: 140px;
}

.background-vip:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(255, 215, 0, 0.8);
}

.background-vip:hover .background-image {
  filter: brightness(0.5) blur(2px);
  transition: filter 0.3s;
}

.background-vip .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s;
}

.background-vip .background-name {
  background-color: rgba(255, 215, 0, 0.8);
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

.background-vip .vip-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: gold;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
}

.background-vip:hover .vip-label {
  opacity: 1;
}