body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}



.introduce {
  color: white;
  text-align: left;
  width: 650px;
  animation: slideIn 2s forwards;
  top: 180px;
  left: 50%;
  transform: translateX(-50%); 
  background: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(225, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 180px;
  margin-left: 60px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.introduce p {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}

.introduce div {
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}

.btn-start {
  background-color: white;
  color: #1d2021;
  padding: 15px 30px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  font-weight: 700;
}

.btn-start:hover {
  color: #fff;
  background-color: rgb(249, 191, 46);
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.image-carousel {
  display: flex;
  align-items: center;
  overflow: hidden; 
  margin: 20px auto; 
  opacity: 0;
  transition: opacity 1s ease-in-out;
  margin-top: 10px; 
  position: relative;
  width: 100%; 
  max-width: 1400px; 
  margin-bottom: 20px;
  
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0 ,0 ,0 , .2);
  padding: 30px 40px; 
}

.image-carousel.show {
  opacity: 1;
}

.image-container { 
  width: 100%;
  overflow-x: hidden; 
}

.image-track {
  display: flex;
  transition: transform 0.7s ease-in-out; 
  width: fit-content; 
}

.image-item {
  width: 24.3%; 
  flex-shrink: 0;
  margin-right: 10px;
  position: relative; 
  overflow: hidden;
}

.image-item:last-child { 
  margin-right: 0;
}

.image-item img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 5px;
  transition: transform 0.3s ease; 
  transform-origin: center center;
}

.image-item:hover img {
  transform: scale(1.1);
}

.image-title {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10; 

  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0 ,0 ,0 , .2);
}
.carousel-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 5px;
  z-index: 10; 
  color: #fff;
  width: 50px; 
  height: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.name {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-left: 70px;
  margin-top: 140px;

}

.name_a {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-left: 70px;
  margin-top: 80px;

}