body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  transition: top 0.5s ease-in-out;
  background: linear-gradient(to top, rgba(28, 39, 48, 0), rgba(28, 39, 48, 0.8));
}


.hidden-navbar {
  top: -80px;
}

.logo {
  font-size: 32px;
  color: #FFFCF0;
  font-weight: 700;
  margin-left: 80px;
}

.acc {
  position: relative;
  font-size: 32px;
  color: #FFFCF0;
  font-weight: 700;
  margin-right: 100px;
  background: transparent;
  color: #FFFCF0;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.acc:hover .dropdown-menu {
  display: block;
  transition: all 2s ease-in;
}

.navbar a {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  margin: 0 15px;
  cursor: pointer;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #FFFCF0;
  transition: 0.3s;
  cursor: pointer;
  color: rgb(240, 186, 105);
}

.navbar a:hover::before {
  width: 100%;
  cursor: pointer;
}

.account-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 100;
  display: none;
  background: transparent;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.314);
  z-index: 1;
  align-items: center;
  transform: translateX(-30%);
  border-radius: 10px;
  padding-top: 8px;
}

.account-container:hover .dropdown-menu {
  display: block;
  transition: all 2s ease-in;
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-align: left;
  color: #FFFCF0;
  text-decoration: none;
  border-radius: 10px;
  background-color: #700b2e30;
  border: 1px solid #FFFCF0;
  margin-bottom: 2px;
}

.dropdown-item:hover {
  color: black;
  background-color: rgb(241, 204, 112);
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
}

.lofi-dropdown-menu {
  position: fixed;
  z-index: 101;
  align-items: center;
  transform: translateX(-30%);
  border-radius: 10px;
  padding-top: 8px;
  margin-left: 27px;
}

.lofi-link:hover + .lofi-dropdown-menu {
  display: block;
  transition: all 2s ease-in;
}

.dropdown-item-lofi {
  display: block;
  padding: 5px;
  text-align: left;
  color: #FFFCF0;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #FFFCF0;
  margin-bottom: 5px;
  font-size: 20px;
  backdrop-filter: blur(30px);
}


.dropdown-item-lofi:hover {
  color: black;
  background-color: rgb(241, 204, 112);
  transition: all 0.3s ease;
  cursor: pointer;
}