.image-container-n {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
  
}

.image-row {
  display: flex;
  gap: 20px;
  
}

.image-card {
  width: 250px;
  color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 20px 40px;
  border: 2px solid rgba(225, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.image-card img {
  width: 100%;
  height: 100px;
}

.image-info {
  margin-top: 10px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 5px;
}

.btn-edit,
.btn-dele{
  background-color: rgba(255, 255, 255, 0.696);
  color: #1d2021;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  font-weight: 700;
  width: 85px;
  border: 2px solid rgba(225, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.btn-edit:hover{
  color: #fff;
  background-color: rgb(249, 191, 46);
}

.btn-dele:hover {
  color: #fff;
  background-color: rgb(249, 46, 46);
}